struct Solution {
}

impl Solution {
    fn new() -> Self {
        Self {}
    }
}

#[cfg(test)]
mod tests {
    use super::*;
    use rstest;

    #[rstest::rstest]
    fn tests_implemented() {
        assert!(false, "tests for problem '%%PROBLEM_NAME%%' are not implemented");
    }
}
